<ng-container class="card-content"
              *ngIf="projectFormGroup$ | async as projectFormGroup">
  <p class="card-header-title level-item has-text-centered is-size-2 has-text-primary"> Project </p>
  <form class="form"
        [formGroup]="projectFormGroup"
        (ngSubmit)="submit(projectFormGroup)">
    <div class="field">
      <label class="label">Name</label>
      <div class="control has-icons-left">
        <input formControlName="name"
               class="input"
               type="text"
               placeholder="Project name"
               value="" />
        <span class="icon is-small is-left">
          <fa-icon [icon]="projectIcon"></fa-icon>
        </span>
      </div>
    </div>
    <div class=" is-flex is-justify-content-flex-end">
      <button type="submit"
              class="button is-primary">Submit</button>
    </div>
  </form>
</ng-container>
