<ng-container *ngIf="registerFormGroup">
  <ng-container *ngIf="registrationFailed">
    <div class="notification is-danger is-light has-text-centered">
      <button class="delete"
              (click)="registrationFailed = false">
      </button> Registration was unsuccessful. </div>
  </ng-container>
  <p class="card-header-title level-item has-text-centered is-size-2 has-text-primary"> Sign Up </p>
  <form class="form"
        [formGroup]="registerFormGroup"
        (ngSubmit)="submit()">
    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input formControlName="emailAddress"
               [ngClass]="{'is-danger': emailIsInvalid}"
               class="input"
               type="email"
               placeholder="Email Address"
               value="" />
        <span class="icon is-small is-left">
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>
      <ng-container *ngIf="emailIsInvalid">
        <p class="help is-danger">Email is invalid</p>
      </ng-container>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control has-icons-left has-icons-right">
        <input formControlName="password"
               [ngClass]="{'is-danger': passwordIsInvalid}"
               class="input"
               type="password"
               placeholder="Secret Password"
               value="" />
        <span class="icon is-small is-left">
          <fa-icon [icon]="faKey"></fa-icon>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>
      <ng-container *ngIf="passwordIsInvalid">
        <p class="help is-danger">Password is invalid</p>
      </ng-container>
    </div>
    <div class=" is-flex is-justify-content-flex-end">
      <button type="submit"
              class="button is-primary">Sign Up</button>
    </div>
  </form>
</ng-container>
