<ng-container class="card-content"
              *ngIf="taskFormGroup$ | async as taskFormGroup">
  <p class="card-header-title level-item has-text-centered is-size-2 has-text-primary"> Task </p>
  <form class="form"
        [formGroup]="taskFormGroup"
        (ngSubmit)="submit(taskFormGroup)">
    <div class="field">
      <label class="label">Description</label>
      <div class="control has-icons-left">
        <input formControlName="description"
               class="input"
               type="text"
               placeholder="Task description"
               value="" />
        <span class="icon is-small is-left">
          <fa-icon [icon]="tasksIcon"></fa-icon>
        </span>
      </div>
    </div>
    <div class="is-flex is-justify-content-flex-end">
      <button type="submit"
              class="button is-primary">Submit</button>
    </div>
  </form>
</ng-container>
